center {
    margin: auto;
    width: 50%;

  }
.main-div {
  margin: 10px 0px 10px 0px;
}

.letter-button {
  margin: 10px 10px 10px 10px;
}


.letra-incorrecta {
  cursor: not-allowed;
  background-color: #72D568 ;
}

.letra-correcta {
  cursor: not-allowed;
  background-color: #D56868 ;
}

.letra-no-pulsada {
  background-color: #469BE6;
}


.btn-input-width {
  width: 25%;
}

.submit-container{
  height: 50px;
  width: auto;
}

.btn-size {
  height: 4rem;
  width: 4rem;
}

.buttons-container {
  margin-top:5px ;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .size{
    height: 100%;
  }
  .btn-size {
    height: 3rem;
    width: 3rem;
  }

}