
<div class="center-align container ">
    
    <div class=" center-align z-depth-1 white lighten-4 row menu-container">
        <div class="row">
            <img  width="300px" heigth="150px" src="{{this.urlImagen}}">
        </div>
        <div class="row center-align">
            <a class="waves-effect waves-light btn btn-large green darken-1 col 12">
                <i class="material-icons right ">star_border</i>
                <i class="material-icons right ">star_border</i>
                <i class="material-icons right">star</i>
                Fácil</a>
        </div>
        <div class="row center-align">
            <a class="waves-effect waves-light btn btn-large yellow darken-1 col 12">
                <i class="material-icons right ">star_border</i>
                <i class="material-icons right">star</i>
                <i class="material-icons right">star</i>
                
                Medio</a>
        </div>
        <div class="row center-align">
            <a class="waves-effect waves-light btn btn-large red darken-1 col 12">
                <i class="material-icons right">star</i>
                <i class="material-icons right">star</i>
                <i class="material-icons right">star</i>Difícil</a>
        </div>
        
       
    </div>
</div>
