<div class="container">
  <div class="row center">  
      <i class="col 4 yellow-text text-darken-2 material-icons medium">stars</i>
      <i class="col 4 yellow-text text-darken-2 material-icons medium">stars</i>
      <i class="col 4 yellow-text text-darken-2 material-icons medium">stars</i>
   
  </div>
  <table class="stripped centered">
    <thead>
      <tr>
          <th>Dificultad<i class="yellow-text text-darken-2 material-icons">show_chart</i></th>
          <th>Aciertos <i class="green-text text-darken-2 material-icons">check</i></th>
          <th>Fallos<i class="red-text text-darken-2 material-icons">clear</i></th>
          <th>Efectividad<i class="blue-text text-darken-2 material-icons">location_searching</i></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Facil</td>
        <td>7</td>
        <td>3</td>
        <td>
            <div class="progress">
                <div class="determinate" style="width: 70%"></div>
            </div>
        </td>
    </tbody>
  </table>
</div>
