<div class="container">
    <app-horca [fallos]= this.fallos [palabraOculta]=this.palabraOculta ></app-horca>
    <form [formGroup]="arriesgarForm" class="row s12 size">
        <div class="row">
            <div class="col s12">
              <div class="input-field inline left-align">
                <input formControlName="palabra" type="text" placeholder="Inserte palabra">
              </div>
              <button type="submit" [disabled]="this.arriesgarForm.invalid"
                (click)="this.arriesgar()"class=" separation waves-effect waves-light btn deep-purple darken-4">
                Arriesga
              </button>
            </div>  
        </div>   
    </form>

    <div class="container">       
            <div class="col l6 m6 s6 center-align">
                <button [ngClass]="button.estado"  *ngFor="let button of buttons" (click)="PresionarBoton(button)" class="btn-floating btn-large waves-effect waves-light">{{button.letra}}</button>
            </div>
        
    </div>
    
</div>
