center {
    margin: auto;
    width: 50%;

  }
.main-div {
  margin: 10px 0px 10px 0px;
}

.letter-button {
  margin: 10px 10px 10px 10px;
}


.letra-incorrecta {
  cursor: not-allowed;
  background-color: #72D568 ;
}

.letra-correcta {
  cursor: not-allowed;
  background-color: #D56868 ;
}

.letra-no-pulsada {
  background-color: #469BE6;
}