<nav>
    <div class="nav-wrapper deep-purple darken-4">
      <a href="#" class="brand-logo left hide-on-med-and-down">Ahorcado</a>
      <ul id="nav-mobile" class="right">
        <li><a href="">Cómo jugar?<i class="material-icons left">info</i></a></li>
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">
          Mi puntaje
          <i class="material-icons left">stars</i></a></li>
      </ul>
    </div>
</nav>

<ul id='dropdown1' class='dropdown-content'>
  <li><a href="#!">Fácil</a></li>
  <li class="divider"></li>
  <li><a href="#!">Medio</a></li>
  <li class="divider"></li>
  <li><a href="#!">Difícil</a></li>
</ul>