<nav>
    <div class="nav-wrapper deep-purple darken-4">
      <a href="#" class="brand-logo">Ahorcado UTN</a>
      <ul id="nav-mobile" class="right">
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">
          Ranking por dificultad
          <i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
</nav>

<ul id='dropdown1' class='dropdown-content'>
  <li><a href="#!">Fácil</a></li>
  <li class="divider"></li>
  <li><a href="#!">Medio</a></li>
  <li class="divider"></li>
  <li><a href="#!">Difícil</a></li>
</ul>