
.palabra-oculta {
    letter-spacing: 5px;
    font-size: 40px;
}

.espacio {
    margin-top: 20px;
}


.margin-img {
    margin: 5px 0px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .palabra-oculta{
        letter-spacing: 3px;
        font-size: 20px;
        font-weight: bold;
    }
  }